<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件，还可用 
    Web 管理工具配置应用程序设置。可使用
    Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    所有设置和注释都列在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\vx.x\Config 中
-->
<configuration>
  <appSettings>
    <!-- 可上传文件类型 -->
    <add key="FileType" value=".jpg,.jpeg,.gif,.png"/>
    <!-- 国方查询WebService地址 -->
    <add key="TmQueryUrl" value="http://119.145.147.170:99/TmQuery.asmx"/>
    <!-- 国方识别WebService地址 -->
    <add key="IdentUrl" value="http://119.145.147.170:88/Ident.asmx"/>
    <!-- PC端设备码验证码 -->
    <add key="PCDevice.Code" value="joq0TQNDbZ70pv8js7NI6V4LJqEkT4XB"/>
    <!-- PC端设备码默认返回地址，相对站点根目录路径 -->
    <add key="PCDevice.Url.Default" value=""/>
    <!-- PC端设备码已绑定用户返回地址，相对站点根目录路径 -->
    <add key="PCDevice.Url.AutoLogin" value=""/>
    <!-- PC端设备码需要变更主设备返回地址，相对站点根目录路径 -->
    <add key="PCDevice.Url.ChangeMainDevice" value=""/>
    <!-- ##########################交易发送地址配置#############################-->
    <!--######(以下配置为PM环境：入网测试环境用，生产环境配置见文档说明)#######-->
    <!-- 签名证书路径，相对站点根目录路径，必须以/开头 -->
    <add key="sdk.signCert.path" value="/certs/acp_test_sign.pfx"/>
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="qQQ63K+SUbU="/>
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12"/>
    <!-- 加密证书路径，相对站点根目录路径，必须以/开头 -->
    <add key="sdk.encryptCert.path" value="/certs/acp_test_verify.cer"/>
    <!-- 验签证书目录，相对站点根目录路径，必须以/开头 -->
    <add key="sdk.validateCert.dir" value="/certs/"/>
    <!-- 前台交易地址 -->
    <add key="sdk.frontTransUrl" value="https://gateway.test.95516.com/gateway/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="sdk.backTransUrl" value="https://gateway.test.95516.com/gateway/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="sdk.singleQueryUrl" value="https://gateway.test.95516.com/gateway/api/queryTrans.do" />
    <!-- 文件传输类交易地址 -->
    <add key="sdk.fileTransUrl" value="https://filedownload.test.95516.com/" />
    <!-- 批量交易地址 -->
    <add key="sdk.batTransUrl" value="https://gateway.test.95516.com/gateway/api/batchTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="sdk.cardRequestUrl" value="https://gateway.test.95516.com/gateway/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.appRequestUrl" value="https://gateway.test.95516.com/gateway/api/appTransReq.do" />
    <!-- 前台通知地址，填写后台接收银联前台通知的地址，相对站点根目录路径 -->
    <add key="frontUrl" value="UnionPay/FrontRcvResponse.ashx"/>
    <!-- 后台通知地址，填写后台接收银联后台通知的地址，相对站点根目录路径，必须外网能访问 -->
    <add key="backUrl" value="UnionPay/BackRcvResponse.ashx"/>
    <add key="ifValidateRemoteCert" value="false"/>
    <!-- 商户号 -->
    <add key="merId" value="yA9W8BkikH+YZ4sahEK2eQ=="/>
    <!-- 返回验证key -->
    <add key="unionPayKey" value="jJ0XHIBq7iucUFdqX3Nn+F/ANjzI6JRGeknYYdgq450="/>
    <!--##########################以下为缴费产品的配置，其他产品接入时可无视#############################-->
    <!-- 前台交易地址 -->
    <add key="sdk.jf.frontTransUrl" value="https://gateway.test.95516.com/jiaofei/api/frontTransReq.do"/>
    <!-- 后台交易地址 -->
    <add key="sdk.jf.backTransUrl" value="https://gateway.test.95516.com/jiaofei/api/backTransReq.do"/>
    <!-- 交易状态查询地址 -->
    <add key="sdk.jf.singleQueryUrl" value="https://gateway.test.95516.com/jiaofei/api/queryTrans.do"/>
    <!-- 有卡交易地址 -->
    <add key="sdk.jf.cardRequestUrl" value="https://gateway.test.95516.com/jiaofei/api/cardTransReq.do"/>
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.jf.appRequestUrl" value="https://gateway.test.95516.com/jiaofei/api/appTransReq.do"/>
    <!--##########################log4net配置#############################-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--支付宝合作身份者ID，以2088开头由16位纯数字组成的字符串-->
    <add key="Alipay.partner" value=""/>
    <!--商户的私钥-->
    <add key="Alipay.private_key" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="Xl7t2pmKGmDxbrs1kSGtnM8iXaLx1IBHB4F14lVZiO9Ue8oMImQTZIGixU5WRNmtDc2qpf/P9VrfnI7Z7xCAvEfeVs4mFEZNsnk46z9oXSs=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入 
            已编译的页面中。但由于这会 
            影响性能，因此请仅在开发过程中将此值 
            设置为 true。
    -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。
-->
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>